
h1{color:red; font-family:arial; font-size:large;}
	  p{color:blue; font-family:arial; font-size: medium;}



h2{color:purple; font-family:arial; font-size:large;}
	  p{color:blue; font-family:arial; font-size: medium;}

h3{color:brown; font-family:arial; font-size:large;}
	   p{color:blue; font-family:arial; font-size: medium;}



h4{color:yellow; font-family:arial; font-size:large;}
	  p{color:blue; font-family:arial; font-size: medium;}


h5{color:green; font-family:arial; font-size:large;}
	  p{color:blue; font-family:arial; font-size: medium;}

